<div *ngIf="isConfirmDeleteVisible" class="modal fade show in danger" id="confirmDeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="cancelDelete()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>{{confirmDeleteMsg}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="confirmDelete()" data-dismiss="modal">Delete</button>
              <button type="button" class="btn btn-default" (click)="cancelDelete()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-7">
    <h3>Appointment</h3>
    <label>Name</label>
    <p>{{selectedAppointment.name}}</p>
    <label>Start Time</label>
    <p>{{selectedAppointment.startTime}}</p>
    <label>Duration (minutes)</label>
    <p>{{selectedAppointment.duration}}</p>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-7">
    <label>Description</label>
    <p>{{selectedAppointment.description}}</p>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-7 text-right">
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    <button class="btn btn-success" (click)="onEdit()">Edit</button>
    <button class="btn btn-default" (click)="onCancel()">Cancel</button>
  </div>
  <div class="col-sm-3"></div>
</div>
